[delayed_gcode CHECK_CHAMBER_HEATER_FAN]
initial_duration: 1
gcode:
    UPDATE_DELAYED_GCODE ID=CHECK_CHAMBER_HEATER_FAN DURATION=3
    
    {% set fan_on_temp = 50|float %}
    {% set target = printer["heater_generic chamber_heater"].target|float %}
    {% set core_temperature = printer["temperature_sensor chamber_heater_core"].temperature|float %}
    
    {% if (target > 0) or (core_temperature > fan_on_temp) %}
        SET_PIN PIN=chamber_heater_fan VALUE=1
    {% else %}
        SET_PIN PIN=chamber_heater_fan VALUE=0
    {% endif %}

[heater_bed]
heater_pin: PA1
sensor_type: ATC Semitec 104GT-2
sensor_pin: PB1
max_power: 1.0
min_temp: 0
max_temp: 120
control: pid
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 363.769

[temperature_sensor chamber]
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PB0
min_temp: -40
max_temp: 85

[temperature_sensor SB2209_NTC]
sensor_type: Generic 3950
sensor_pin: EBBCan: gpio28
min_temp: -40
max_temp: 100

[temperature_sensor SB2209]
sensor_type: temperature_mcu
sensor_mcu: EBBCan

[temperature_sensor Manta_M8P]
sensor_type: temperature_mcu

[temperature_sensor CB1]
sensor_type: temperature_host

[multi_pin controller_fans]
pins: PF7,PF9

[controller_fan controller_fan]
pin: multi_pin:controller_fans
max_power: 0.4
kick_start_time: 0.5
heater: heater_bed

[heater_generic chamber_heater]
gcode_id: chamber_heater
heater_pin: PA5
max_power: 1.0
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PB0
min_temp: -40
max_temp: 85
control: watermark
max_delta: 2.0

[temperature_sensor chamber_heater_core]
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PC5
min_temp: -40
max_temp: 200

[output_pin chamber_heater_fan]
pin: PA0

[verify_heater chamber_heater]
#   The maximum "cumulative temperature error" before raising an
#   error. Smaller values result in stricter checking and larger
#   values allow for more time before an error is reported.
#   Specifically, the temperature is inspected once a second and if it
#   is close to the target temperature then an internal "error
#   counter" is reset; otherwise, if the temperature is below the
#   target range then the counter is increased by the amount the
#   reported temperature differs from that range. Should the counter
#   exceed this "max_error" then an error is raised. The default is
#   120.
max_error: 120000
#   This controls heater verification during initial heating. Smaller
#   values result in stricter checking and larger values allow for
#   more time before an error is reported. Specifically, during
#   initial heating, as long as the heater increases in temperature
#   within this time frame (specified in seconds) then the internal
#   "error counter" is reset. The default is 20 seconds for extruders
#   and 60 seconds for heater_bed.
check_gain_time: 360000
#   The maximum temperature difference (in Celsius) to a target
#   temperature that is considered in range of the target. This
#   controls the max_error range check. It is rare to customize this
#   value. The default is 5.
hysteresis: 5

#   The minimum temperature (in Celsius) that the heater must increase
#   by during the check_gain_time check. It is rare to customize this
#   value. The default is 2.
heating_gain: 1

