#[heater_fan nevermore_mini_fan]
[fan_generic nevermore_mini_fan]
#  Nevermore Filter
pin: PF7 #3rd from left below voltage jumpers
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0
#heater: heater_bed
#heater_temp: 60
#fan_speed: 1.0

[output_pin nevermore_12v]
pin: PA4
pwm: false
shutdown_value: 0
value: 1

[nevermore]
serial: /dev/serial/by-id/usb-Nevermore_Filter_pico_w_E663B03597533224-if02
fan_power_coefficient: 0.8  # lower max power to keep things much more quiet

[temperature_sensor nevermore_intake_VOC]
sensor_type: NevermoreSensor
sensor_kind: intake
plot_voc: true
